.dashborad-section {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs a {
    text-decoration: none;
    color: #7B8191;
}
.breadcrumbs a:hover {
    text-decoration: none;
    color: #7B8191;

}

.breadcrumbs {
    padding: 10px 0 10px 24px;
}