@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background-color: #000;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar {
  height: 52px;
  margin: 0 20px;
  background-color: #191d23;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  position: relative;
}
.nav-list ul {

  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

}

.nav-list ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-list ul a {
  font-size: 16px;
  font-weight: 400;
  color: #3f4756;
  text-decoration: none;
}

.nav-list ul a.active {
  color: #007aff;
  font-weight: 500;
  position: relative;
}

.navbarLine {
  height: 52px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #FFFFFF14
}

.nav-list ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #007aff;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 3rem;

}

/* Profile */



.profile .dp {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.Arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 14px;
  height: 7px;
  right: 36px;
  top: 24px;
}