@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #242424;
}

.container {

  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #191d23;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  position: relative;
  
}
.nav-list ul {
  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  
}

.nav-list ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-list ul a {
  font-size: 16px;
  font-weight: 400;
  color: #3f4756;
  text-decoration: none;
}

.nav-list ul a.active {
  color: #007aff;
  font-weight: 500;
  position: relative;
}

.nav-list ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #007aff;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 3rem;
}
/* Profile */



.profile .dp {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}
/* Arrow */
.Arrow{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 14px;
height: 7px;
right: 36px;
top: 28px;
}


